<figure class="card">
	<div class="card__emoji">{%IMAGE%}{%IMAGE%}</div>
	<!-- /.card__emoji -->
	
	<div class="card__title-box">
		<h2 class="card__title">{%ITEM_NAME%}</h2>
		<!-- /.card__title -->
	</div>
	<!-- /.card__title-box -->
	
	<div class="card__details">
		<div class="card__detail-box {%NOT_ORGANIC%}">
			<h6 class="card__detail card__detail--organic">Organic!</h6>
			<!-- /.card__detail card__detail--organic -->
		</div>
		<!-- /.card__detail-box -->
		
		<div class="card__detail-box">
			<h6 class="card__detail">{%QUANTITY%} per 📦</h6>
			<!-- /.card__detail -->
		</div>
		<!-- /.card__detail-box -->
		
		<div class="card__detail-box">
			<h6 class="card__detail card card_detail--price">${%PRICE%}</h6>
			<!-- /.card__detail card card_detail--price -->
		</div>
		<!-- /.card__detail-box -->
	</div>
	<!-- /.card__details -->
	<a href="/item?id={%SLUG%}"
	   class="card__link"><span>Detail<i class="emoji-right">👉</i>
	                            <!-- /.emoji-right --></span></a>
	<!-- /.card__link -->
</figure>
<!-- /.card -->