<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible"
	      content="ie=edge">
	<title>{%ITEM_NAME%} {%IMAGE%} /// KOKO FARM</title>
	<style>
		.not-organic {
			display: none;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>🍇 Koko Farm 🥭</h1>
		
		<figure class="item">
			<div class="item__organic">
				<h5>Organic</h5>
			</div>
			<!-- /.item__organic -->
			
			<a href=""
			   class="item__back"><span class="emoji-left">👈</span>Back
				<!-- /.emoji-left --></a>
			<!-- /.item__back -->
			<div class="item__hero">
				<span class="item__emoji item__emoji--1">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--1 -->
				<span class="item__emoji item__emoji--2">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--2 -->
				<span class="item__emoji item__emoji--3">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--3 -->
				<span class="item__emoji item__emoji--4">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--4 -->
				<span class="item__emoji item__emoji--5">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--5 -->
				<span class="item__emoji item__emoji--6">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--6 -->
				<span class="item__emoji item__emoji--7">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--7 -->
				<span class="item__emoji item__emoji--8">{%IMAGE%}</span>
				<!-- /.item__emoji item__emoji--8 -->
			</div>
			<!-- /.item__hero -->
			<h2 class="item__name">{%ITEM_NAME%}</h2>
			<!-- /.item__name -->
			
			<div class="item__details">
				<p><span class="emoji-left">🌎</span>
					From {%FROM%}
					<!-- /.emoji-left --></p>
				<p><span class="emoji-left">💖</span>
					{%NUTRIENTS%}
					<!-- /.emoji-left --></p>
				<p><span class="emoji-left">📦</span>
					{%QUANTITY%} {%IMAGE%}
					<!-- /.emoji-left --></p>
				<p><span class="emoji-left">${%PRICE%}</span>
					<!-- /.emoji-left --></p>
			</div>
			<!-- /.item__details -->
			
			<a href="#"
			   class="item__link">
				<span class="emoji-left">🛒</span>
				<!-- /.emoji-left --></a>
				<span>Add to shopping cart (${%PRICE%})</span>
			<!-- /.item__link -->
			
			<p class="item__description">
				{%DESCRIPTION%}
			</p>
			<!-- /.item__description -->
		</figure>
		<!-- /.item -->
		
	</div>
	<!-- /.container -->
	
</body>
</html>