<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible"
	      content="ie=edge">
	<title>Grapes 🍇 /// KOKO FARM</title>
</head>
<body>
	<div class="container">
		<h1>🍇 Koko Farm 🥭</h1>
		
		<figure class="item">
			<div class="item__organic">
				<h5>Organic</h5>
			</div>
			<!-- /.item__organic -->
			
			<a href=""
			   class="item__back"><span class="emoji-left">👈</span>Back
				<!-- /.emoji-left --></a>
			<!-- /.item__back -->
			<div class="item__hero">
				<span class="item__emoji item__emoji--1">🍇</span>
				<!-- /.item__emoji item__emoji--1 -->
				<span class="item__emoji item__emoji--2">🍇</span>
				<!-- /.item__emoji item__emoji--2 -->
				<span class="item__emoji item__emoji--3">🍇</span>
				<!-- /.item__emoji item__emoji--3 -->
				<span class="item__emoji item__emoji--4">🍇</span>
				<!-- /.item__emoji item__emoji--4 -->
				<span class="item__emoji item__emoji--5">🍇</span>
				<!-- /.item__emoji item__emoji--5 -->
				<span class="item__emoji item__emoji--6">🍇</span>
				<!-- /.item__emoji item__emoji--6 -->
				<span class="item__emoji item__emoji--7">🍇</span>
				<!-- /.item__emoji item__emoji--7 -->
				<span class="item__emoji item__emoji--8">🍇</span>
				<!-- /.item__emoji item__emoji--8 -->
			</div>
			<!-- /.item__hero -->
			<h2 class="item__name">Grapes</h2>
			<!-- /.item__name -->
			
			<div class="item__details">
				<p><span class="emoji-left">🌎</span>
					From Italy
					<!-- /.emoji-left --></p>
				<p><span class="emoji-left">💖</span>
					Vitamin K, Copper
					<!-- /.emoji-left --></p>
				<p><span class="emoji-left">📦</span>
					2  🍇
					<!-- /.emoji-left --></p>
				<p><span class="emoji-left">$4.50</span>
					<!-- /.emoji-left --></p>
			</div>
			<!-- /.item__details -->
			
			<a href="#"
			   class="item__link">
				<span class="emoji-left">🛒</span>
				<!-- /.emoji-left --></a>
				<span>Add to shopping cart ($4.50)</span>
			<!-- /.item__link -->
			
			<p class="item__description">
				Grapes are high in several important nutrients.  Grapes are an essential source of Vitamin K and Copper.  Copper is an essential mineral involved in energy production, while Vitamin K is vital for blood clotting and healthy bones.  Grapes also provide good amounts of B vitamins like thiamine, riboflavin, and B6.  Both thiamine and riboflain are needed for growth and development, while B6 is mainly required for protein metabolism.
			</p>
			<!-- /.item__description -->
		</figure>
		<!-- /.item -->
		
	</div>
	<!-- /.container -->
	
</body>
</html>